#
# standard ignores
#
*~
.DS_Store

#
# Build directories
#
build/
build-*

#
# Ignores imported from svn:ignore properties
#

# /src/i18n/
src/i18n/temp_xmltr_klf_fr.ts.cxx
src/i18n/temp_tr_pro_klf_fr.ts.pro
