#
# standard ignores
#
*~
build/
build-cmake-command.txt
build-brew-qt/
build-brew-qt-cmake-command.txt

#
# Ignores imported from svn:ignore properties
#

# /
/build
/build32
/rccresources
/build-qt3
/build-rel
/build-qt4.4
/build-qt4.5
/build-backend-shared
/build-cmake-tests
/build-qt3-debug

# /apidoc/
/apidoc/klf-apidoc-3.1.2.tar.bz2
/apidoc/klf-apidoc-3.1.2a.tar.bz2
/apidoc/klfbackend
/apidoc/klfsrc

# /src/i18n/
/src/i18n/klf_el.qm
/src/i18n/klf_el.ts
/src/i18n/temp_xmltr_klf_fr.ts.cxx
/src/i18n/temp_tr_pro_klf_fr.ts.pro
