<!DOCTYPE kpartgui>
<gui name="ktexteditor_klf" library="ktexteditor_klf" version="3">
<MenuBar>
 <Menu name="tools"><text>&amp;Tools</text>

    <Separator group="tools_operations" />
    <Menu name="tools_klf" group="tools_operations">
      <text>&amp;KLatexFormula Tools</text>
      <Action name="klf_preview_selection"/>
      <Action name="klf_invoke_klf"/>
    </Menu>

 </Menu>
</MenuBar>
<Menu name="ktexteditor_popup">
  <Separator group="tools_operations" />
  <Menu name="cm_tools_klf" group="popup_operations">
    <text>&amp;KLatexFormula Tools</text>
    <Action name="klf_preview_selection"/>
    <Action name="klf_invoke_klf"/>
  </Menu>
</Menu>
</gui>

