[Desktop Entry]
X-KDE-Library=ktexteditor_klf
X-KDE-PluginKeyword=ktexteditor_klf
X-KDE-PluginInfo-Author=Philippe Faist
X-KDE-PluginInfo-Email=philippe.faist@bluewin.ch
X-KDE-PluginInfo-Name=ktexteditorklf
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://klatexformula.sourceforge.net
X-KDE-PluginInfo-Category=Editor
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=kate
X-KDE-Version=4.0
X-KDE-ServiceTypes=KTextEditor/Plugin
Type=Service
Icon=klatexformula
Name=KLatexFormula KTextEditor Plugin
Comment=KLatexFormula KTextEditor Plugin
