QWidget {
	background-color: rgb(128, 128, 255);
	selection-background-color: rgb(0, 0, 64);
	selection-color: rgb(128, 128, 255);
	color: rgb(0, 0, 60);
}

QScrollBar {
	background-color: none;
}

#KLFMainWinUI {
	qproperty-widgetStyle: Plastique;
}
