/* Papyrus Theme Extra definitions */


KLFLibDefaultView {
	qproperty-autoBackgroundItems: false;
}

KLFDisplayLabel[realTimeLatexError=true] {
	border: 2px solid rgb(255,0,0,50);
	background: rgb(255,128,128,60);
}

QToolTip {
	padding: -2px 4px -2px 4px;
	font-style: italic;
}

