[Desktop Entry]
Categories=Qt;Office;
Encoding=UTF-8
Name=KLatexFormula
Comment=Generate images from LaTeX equations
Comment[fr]=Générez une image d'une équation LaTeX
GenericName=KLatexFormula
MimeType=application/x-klatexformula;
Exec=klatexformula %F
Icon=klatexformula
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-KDE-AuthorizeAction=shell_access

