[Desktop Entry]
Encoding=UTF-8
Name=KLatexFormula
Exec=klatexformula
Icon=klatexformula
Type=Application
Comment=Easily Get an image from a LaTeX-formatted Equation
Comment[fr]=Obtenez facilement une image à partir d'une équation formatée en LaTeX
Categories=Qt;KDE;Utility;Office
