[Desktop Entry]
X-SuSE-translate=true
Categories=Office;
Encoding=UTF-8
Name=KLatexFormula
Comment=Get an image from a LaTeX Equation
Comment[fr]=Obtenez une image à partir d'une équation LaTeX
GenericName=KLatexFormula
MimeType=application/x-klatexformula;
Exec=klatexformula %F
Icon=klatexformula
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-KDE-AuthorizeAction=shell_access

