[Desktop Entry]
Comment=KLatexFormula Library Export
Hidden=false
Icon=klatexformula
MimeType=application/x-klatexformula
Patterns=*.klf
Type=MimeType
